# Object files
*.o
*.swp
*.test
*.tsv

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.DS_Store

PL1/create_random_file
node_modules
