# Object files
*.o
*.swp
*.test
*.tsv
*.db
*.random

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.DS_Store

PL1/create_random_file
node_modules

tags
include
.libs